body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

#logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    text-transform: uppercase;
    margin: 0;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-links, .image-links {
    display: none;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.image-links li {
    margin: 10px 0;
}

.image-links img {
    width: 100px;
    height: auto;
}

section {
    padding: 20px;
}

.service-img-horizontal {
    width: 100%;  /* Fit within the content width */
    height: auto;
}

.image-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.service-img-vertical {
    width: 50%;
    height: auto;
    margin: 0 auto; /* Center the image */
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    height: 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.back-arrow {
    text-decoration: none;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
}
