body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #f8f9fa;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

section {
    padding: 20px;
}

#images-above-about {
    text-align: center;
    margin-bottom: 20px;
}

.image-container-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.service-img-horizontal {
    width: 200px;
    height: auto;
}

#images-above-contact {
    text-align: center;
    margin-bottom: 20px;
}

.image-container-vertical {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.service-img-vertical {
    width: 150px;
    height: auto;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-bottom: 10px;
}
